!!!strict
html(xmlns="http://www.w3.org/1999/xhtml", lang="en")
	head
		//- meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		- var title = input['http://magnode.org/HTMLTitle'] || (input.node&&(input.node.label||input.node.title))
		title #{title?(title+' - '):''}#{input.title||'Magnode'}
		- for(var n in stylesheets)
			link(rel="stylesheet",href=stylesheets[n].src)
		- for(var n in scripts)
			script(type=scripts[n].type,src=scripts[n].src)
	body
		.head-base
		.wrapper
			.body!=input["http://magnode.org/HTMLBody"]
			.head
				div!=input["http://magnode.org/HTMLBodyBlock_ResourceMenu"]
				div!=input["http://magnode.org/HTMLBodyBlock_UserMenu"]
				div!=input["http://magnode.org/theme/twentyonetwelve/HTMLBodyRegion_Header"]
			.panel
				- if(input.logo)
					div#head-logo
						a(style="background-image: url("+input.logo+");", href="/", title="Visit the main page")
				div!=input["http://magnode.org/theme/twentyonetwelve/HTMLBodyRegion_Panel"]
			.foot
				//pre=util.inspect(input)
				div(style="margin:10px 0;")
					hr
					div.grid_12
						//- div.footer(style="float:right;") <img src="/public-domain.png"/>
						div.footer <a href="http://magnode.org/" style="color:#ddf;">Magnode</a>
						div!=input["http://magnode.org/theme/twentyonetwelve/HTMLBodyRegion_Footer"]
					div.clear
