-// The Transform resource for this template goes something like:
-// 	Transform:DocumentHTML
-// 		a view:Jade, view:Transform, view:PutFormTransform, view:GetTransform ;
-// 		view:file "template/HTMLBody_typePost.jade" ;
-// 		view:domain type:Page ;
-// 		view:range type:HTMLBody .

- var types = {};
- types['http://magnode.org/Post']={class:'post', author:true, created:true};
- types['http://magnode.org/Page']={class:'page', author:false, created:false};
- var type;
- var post;
- for(var t in types) if(input[t]){ type=t; post=input[t]; break; }
- if(!post) throw new Error('Compatible input format not found');
- var showAuthor = types[type].author && post.author;
- var showCreated = types[type].created && post.posted;

div(class=types[type].class)
	- if(post.subject)
		h1.title
			a(href=localurl(post.subject)) #{post.label}
	- else
		h1.title #{post.label}
	- if(showAuthor||showCreated)
		div.submitted
			| Submitted
			- if(showAuthor)
				|  by
				a.author(href=localurl(post.author))=post.author
			- if(showCreated)
				|  on
				span.created #{post.posted}
	div.content!=post.body
	- if(post.comments)
		div.comments (comments go here)
